.pull-right
  %span.close{ style: 'display: none;' } X
= simple_form_for @business_location, remote: true do |f|
  = render partial: 'business_locations/partials/form_fields', locals: { f: f, include_status: false }
