- content ||= nil
- organization ||= content.organization
- promotions = PromotionsHelper.get_promotion_list(organization, content)
%table.table.table-striped.table-condensed#promotions_table
  %thead
    %tr
      %th ID
      %th Description
      %th Start
      %th End
      %th Boost
      %th Paid
      %th Edit
  %tbody#promotion_list
    - promotions.order(id: :desc).each do |promotion|
      = render "promotions/partials/promotion_row", promotion: promotion
- if controller_name == "contents" or controller_name == "events"
  = link_to "+ Create New PromotionBanner", 
    new_organization_promotion_path(organization_id: organization.id,
    content_id: content.id, promotable_type: 'PromotionBanner'),
    class: "btn btn-primary"
- if controller_name == 'campaigns' && content.organization.present?
  = link_to "+ Create New Creative", new_organization_promotion_path(organization_id: organization.id, content_id: content.id, promotable_type: 'PromotionBanner'), class: "btn btn-primary"
