- content ||= nil
- publication ||= content.source
- promotions = PromotionsHelper.get_promotion_list(publication, content)
%table.table.table-striped.table-condensed#promotions_table
  %thead
    %tr
      %th ID
      %th Content
      %th Banner
      %th Description
      %th Active
  %tbody#promotion_list
    - promotions.each do |promotion|
      = render "promotions/partials/promotion_row", promotion: promotion
- if controller_name == "contents"
  = link_to "+ Create a new Promotion", PromotionsHelper.new_promotion_link(publication, content), class: "btn btn-primary", id: "new_promotion_button"
-# If we can get ajax image uploading, render the form right here!
-# = render "promotions/partials/form", promotion: Promotion.new(publication: @publication), ajax_submit: true
