<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">

        <div style="color:#555555;line-height:120%;font-family:'Droid Serif', Georgia, Times, 'Times New Roman', serif;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>/dashboard" target="_blank">
                  CUSTOMIZE.
                </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style="color:#aaaaaa;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
          <div style="font-size:12px;line-height:14px;color:#aaaaaa;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
            <div class="txtTinyMce-wrapper" style="font-size:12px; line-height:14px;">
              <div class="txtTinyMce-wrapper" style="font-size: 12px; line-height: 14px;">
                <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
                  <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
                    Add that personal touch to your account.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">

        <div style="color:#555555;line-height:120%;font-family:'Droid Serif', Georgia, Times, 'Times New Roman', serif;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="text-decoration: underline" href="<%=ENV['LISTSERV_MARKETING_URL']%>" target="_blank">
                    POST.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style="color:#aaaaaa;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
          <div style="font-size:12px;line-height:14px;color:#aaaaaa;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
            <div class="txtTinyMce-wrapper" style="font-size:12px; line-height:14px;">
              <div class="txtTinyMce-wrapper" style="font-size: 12px; line-height: 14px;">
                <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
                  <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
                    Start selling stuff, commenting, sharing, smile.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">

        <div style="color:#555555;line-height:120%;font-family:'Droid Serif', Georgia, Times, 'Times New Roman', serif;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>" target="_blank">
                    BROWSE.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style="color:#aaaaaa;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
          <div style="font-size:12px;line-height:14px;color:#aaaaaa;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
            <div class="txtTinyMce-wrapper" style="font-size:12px; line-height:14px;">
              <div class="txtTinyMce-wrapper" style="font-size: 12px; line-height: 14px;">
                <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
                  <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
                    Look at other people's stuff, comments, shares, news.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">

        <div style="color:#555555;line-height:120%;font-family:'Droid Serif', Georgia, Times, 'Times New Roman', serif;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>" target="_blank">
                    ENJOY.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style="color:#aaaaaa;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
          <div style="font-size:12px;line-height:14px;color:#aaaaaa;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
            <div class="txtTinyMce-wrapper" style="font-size:12px; line-height:14px;">
              <div class="txtTinyMce-wrapper" style="font-size: 12px; line-height: 14px;">
                <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
                  <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
                    Your Community and neighbors on dailyUV.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
