<table style="margin-top: 20px; margin-bottom: 20px;border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top;background-color: #69C2F8;">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
        <p style="line-height: 31px; font-size: 26px; color: #fff;;margin: 0;text-align: left">
          <strong>
            <%= @listserv.name.upcase %>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div style="font-size: 16px; line-height: 19px;">
          a Vital Communities service delivered by dailyUV
        </div>
      </td>
    </tr>
  </tbody>
</table>
