<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-bottom: 0px;padding-left: 10px">
        <p style="color:#555555;font-size: 26px; line-height: 31px;margin: 0;text-align: center">
          <strong>
            Thanks for your post!
          </strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px">
        <p style="color:#555555;margin: 0;font-size: 18px;line-height: 21px;text-align: left;">
            ✓ Posted to the next <%= @post.listserv.name %> digest.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-bottom:10px;">
        <p style="color:#555555;margin: 0;font-size: 18px;line-height: 21px;text-align: left;">
          <span style="font-size: 18px;">
            <strong>
              Did you know?
            </strong>
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 0px;padding-bottom: 10px;padding-left: 0px">
        <div style="font-size:14px;line-height:16px;text-align:left;">
          <strong>Using dailyUV you get the chance to...</strong>
          <ul style='color: rgb(51, 51, 51);'>
            <li>EDIT your post before it goes live - fix those typos.</li>
            <li>ADD photos to create a custom page on dailyUV - really quick!</li>
            <li>get TOP placement in the digest - ALL FOR FREE!</li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-bottom:10px;">
        <p style="color:#555555;margin: 0;font-size: 18px;line-height: 21px;text-align: left;">
          <span style="font-size: 18px;">
            <strong>
              So?
            </strong>
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;">
        <p style="color:#555555;margin: 0;font-size: 18px;line-height: 21px;text-align: left;">
          <span style="font-size: 16px;">
            Next time you post to the <%= @listserv.name %> try selecting...
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr style="vertical-align: top">
        </tr>
      </tbody>
    </table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top; margin-top: 15px; margin-bottom: 15px;" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr style="vertical-align: top">
      <td style="border-collapse: collapse !important;vertical-align: middle; padding-left: 20px;">
        <p style="color:#555555;margin: 0;font-size: 18px;line-height: 21px;text-align: left;">
          <span style="font-size: 16px;font-weight:bold">
            THIS -->
          </span>
        </p>
      </td>
      <td class="button-container" style="border-collapse: collapse !important;vertical-align: top;">
        <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr style="vertical-align: middle">
              <td class="button" style="border-collapse: collapse !important;vertical-align: top" width="100%" align="center" valign="middle">
                  <div
                    style="display: inline-block;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-top: 0px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-left: 0px solid transparent;"
                    align="center">

                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 50" width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr style="vertical-align: top">
                          <td
                            style="border-collapse: collapse !important;vertical-align: top;border-radius: 5px;                   -webkit-border-radius: 5px;                   -moz-border-radius: 5px;                  color: #ffffff;                  background-color: #08AE66;                  padding-top: 5px;                   padding-right: 5px;                  padding-bottom: 5px;                  padding-left: 5px;                  text-align: center"
                            valign="middle">
                              <span style="font-size:16px;line-height:32px;">
                                 ENHANCE&nbsp;MY&nbsp;POST
                              </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
      <tr style="vertical-align: top">
        <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: middle;padding-left:20px;">
          <p style="color:#555555;margin: 0;font-size: 18px;line-height: 21px;text-align:left;">
            <span style="font-size: 16px;font-weight:bold">
              Instead of this-->
            </span>
          </p>
        </td>
        <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;">
          <p style="margin: 0;font-size: 14px;line-height: 16px;text-align: center">
            <span style="color: rgb(6, 69, 173); font-size: 14px; line-height: 16px;">
                No thanks - send this post as is.<br>
            </span>
          </p>
        </td>
      </tr>
  </tbody>
</table>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;">
        <p style="color:#555555;margin: 0;font-size: 18px;line-height: 21px;text-align: left;">
          <span style="font-size: 16px;">
            Then, let us know what you think!
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
