.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Edit Import Job
    .box-content
      = render partial: "admin/import_jobs/partials/form"
