.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        New Import Job
.box-content
      = render partial: "admin/import_jobs/partials/form", locals: { import_job: @import_job }
