.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        Add Content Set
    .box-content
      = render partial: "admin/content_sets/partials/form"
