var $modalForm = $('.modal form');
$modalForm.find('.control-group.has-error').removeClass('has-error').find('.help-block.error').remove();

<% unless @campaign.valid? %>

  <% @campaign.errors.each do |attribute, error| %>
    $modalForm.find("#campaign_<%=attribute%>").after(
      "<div class='help-block error'><%=error%></div>"
    ).closest('.control-group').addClass('has-error');
  <% end %>

<% else %>

  var $campaigns = $('#campaigns');
  var $tbody = $campaigns.find('tbody');
  var $newRow = $("<%= j render 'listserv_campaigns/row', campaign: @campaign%>");
  $tbody.append($newRow);
  $newRow.effect('highlight');
<% end %>

