.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Edit Publish Job
    .box-content
      = render 'admin/publish_jobs/partials/form'
