.span3.well
  = link_to content.title, content
  = content.issue.publication.name
  \-
  - unless content.authors.nil? || content.authors.empty?
    = content.authors
    \--
  = content.content.truncate(150)