.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        New Consumer App
    .box-content
      = render partial: "consumer_apps/partials/form"
