.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Rewrite ID #{@rewrite.id}
    .box-content
      = render partial: "rewrites/partials/form"
