.row-fluid
  .span6.box.dashboard-box
    .box-header
      .title Article Clicks
    .box-content
      .span6
        %h3 Yesterday
        #yesterday_article_clicks.article-clicks-pie-chart{style: "height: 300px;width: 100%;" }
      .span6
        %h3 Past Week
        #past_week_article_clicks.article-clicks-pie-chart{style: "height: 300px;width: 100%;" }
  

:javascript
  var yesterday_clicks_data = #{@yesterday_pie_chart_data};
  var past_week_clicks_data = #{@pastweek_pie_chart_data};
