.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        Welcome to the Knotweed Admin Portal
.row-fluid
  .span12.box
    .box-header
      .title Sign Ins
    .box-content.dashboard-box
      #total_sign_ins_container{ data: { load_path: total_sign_ins_path } }
.row-fluid
  .span12.box
    .box-header
      .title Article Clicks
    .box-content.dashboard-box
      #article_clicks_container{ data: { load_path: article_clicks_path } }

