.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        Welcome to the Knotweed Admin Portal
#mixpanel_charts_container{ data: { load_path: mixpanel_charts_path } }
