.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Message ID #{@message.id}
    .box-content
      = render partial: "messages/partials/form"
