<p>Thank you for agreeing to the Paid Content Addendum on <%= Time.current.strftime('%B %d, %Y') %>. A copy of the agreement is attached. If you have not already done so, please complete the steps in the Payment Requirements section of the agreement. If you do not complete all the steps detailed in the Payment Requirements section, you will not be paid for your content. Please review the attached agreement for more details.</p>

<p>If you have any questions for us, please reach out - <a href="mailto:help@HereCast.us">help@HereCast.us</a>.</p>

<p>Happy posting!<br>
Aileen</p>