.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Content ID #{@content.id}
    .box-content
      = render partial: "contents/partials/form"
