%ul#content-tiles
  - @contents.each do |content|
    = render partial: "contents/partials/tile", locals: {:features => content.features, :document_id => content.document_id, :content => content.content}
