#wrapper
  #wall.row-fluid.isotope
    - @contents.each do |content|
      = render partial: "contents/partials/tile", locals: { :content => content, :channels => Channel.get_channels_for_content(content) }
