%h1 
  = @features["TITLE"]
- if @features.has_key? "AUTHORS"
  %h5 
    = @features["AUTHORS"]
%p
  - if @features.has_key? "LOCATION"
    = @features["LOCATION"] + " -- " if @features["LOCATION"].present?
  = @content
