%h1 
  = @features["TITLE"]
- if @features.has_key? "AUTHORS"
  %h5 
    = @features["AUTHORS"]
%p
  - if @features.has_key? "LOCATION"
    = @features["LOCATION"] + " -- " if @features["LOCATION"].present?
  = simple_format @content.gsub("\u2028", "\n\n") # simple_format doesn't catch \u2028
