.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Wufoo Form ID #{@wufoo_form.id}
    .box-content
      = render partial: "wufoo_forms/partials/form"
