%div.span12.box.bordered-box.blue-border
  %div.box-header.blue-background
    .title
      %i.icon-pencil
      New Event Category
  %div.box-content
    = render 'form'
    = link_to 'Back', event_categories_path
