.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        Register New Repository
    .box-content
      = render partial: "repositories/partials/form"
