<div>
	<img align="center" alt="" src="https://s3.amazonaws.com/knotweed/DailyUV(RGB).jpg" width="175" style="max-width:175px;padding-bottom:0;display:block!important;vertical-align:bottom;margin:auto">
</div>

<h4>You are receiving this email because you are subscribed to one or more blogs on HereCast.</h4>

<p>We’ve created a free account for you on HereCast that will allow you to do the following:</p>

<p><strong>Manage your subscription alerts</strong><br>
To see what blogs you are currently subscribed to, and discover new ones, <%= link_to "just sign in to your account", "https://herecast.us/sign_in" %> with your temp password <strong><%= @password %></strong>. Be sure to change your password to something you’ll remember. Oh, did we mention that this is still completely free?</p>

<p><strong>Receive your blog alerts like normal</strong><br>
If you’re concerned about receiving extra emails, no need to worry, you will continue to receive your blog alerts as you always have.</p>

<p>Best,<br>
The HereCast Team</p>