%h3 Parser Parameters
- @parameters.each do |param, value|
  .control-group
    = label_tag "parameters[#{param}]", param, class: "control-label"
    .controls
      = text_field_tag "parameters[#{param}]", value
