.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Payment Recipients
      .actions
        %span.recipient-count= @payment_recipients.count
        Recipients
%table.table.table-bordered.table-condensed.payment-recipients-table.sortable
  %thead
    %tr
      %th User ID
      %th Name
      %th Email
      %th Role
      %th 
  %tbody
    - @payment_recipients.each do |pr|
      = render partial: 'payment_recipients/partials/row',
        locals: { payment_recipient: pr }
%hr
  = render partial: 'users/partials/search_form'

.modal.fade.modal-hack#payment_recipient_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Payment Recipient
  .modal-body
    Loading...   
