.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Document ID #{@content.id}
    .box-content
      = render partial: "admin/contents/partials/form"
