.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
          Business Profile ID #{@business_profile.id} - #{@business_profile.content.title}, Content ID #{@business_profile.content.id}
    .box-content
      = render partial: "business_profiles/partials/form"
