.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
          Add Business Profile
    .box-content
      = render partial: "business_profiles/partials/form"
