.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-plus
        New User
    .box-content
      = render partial: "users/partials/form", locals: { url: create_user_path, method: :post }
