%iframe{width: '100%', height: '500px', src: sidekiq_web_path, onload: "autoHeightIframe(this)"}
:javascript
  function autoHeightIframe(obj) {
    obj.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
