.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-envelope
        Edit Listserv Content #{@listserv_content.id}
    .box-content
      = render 'form'

= link_to 'Show', @listserv_content
\|
= link_to 'Back', listserv_contents_path
