.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-envelope
        New Listserv Content
    .box-content
      = render 'form'


= link_to 'Back', listserv_contents_path
