<p><b>Dear Ad Team,</b></p>

<p>The ad with title: <%= @promotion_banner.promotion.content.title %>, promotion id: <%= @promotion_banner.promotion.id %> and promotion banner id: <%= @promotion_banner.id %> will expire tomorrow.</p>
