<h3>Hi! Thanks for checking the box to ask about ways to boost your event on DailyUV.</h3>

<p>You can get a three-day banner ad that will run everywhere on the site and be seen 500 times for just $60. Or you can get six days and 1000 views for $120.</p>

<p>We also have spots on the email newsletters we send out every Friday morning — these cost $90 to go to 1000 inboxes, and can be targeted to Norwich and Hanover; Hartford and Lebanon; or outlying towns in Vermont and New Hampshire.</p>

<p><a href="https://subtextmedialtd.wufoo.com/forms/w195jbr51ajjf4s/">To order the three-day or six-day ad, just click here!</a></p>

<p>If you’ve got any questions or want to talk about the newsletters, just email us at: <a href="mailto:ads@subtext.org">ads@subtext.org</a> and one of us will get right back to you.</p>

<p>Thanks!</p>

<p>Barbara, Rob and Chris</p>