<h3>Hi! Thanks for checking the box to ask about ways to boost your event on HereCast.</h3>

<p>This is an automated response -- one of us will be in touch with you personally soon.</p>

<p>But just to fill you in quickly: You can get a three-day banner ad that will run everywhere on the site and be seen 500 times for just $60. Or you can get six days and 1000 views for $120.</p>

<p>To order the three-day or six-day ad, <a href="https://subtextmedialtd.wufoo.com/forms/kmkho660k5wetj/">just click here!</a></p>

<p>If you’ve got any questions, please email us at: <a href="mailto:ads@herecast.us">ads@herecast.us</a></p>

<p>Thanks!</p>

<p>Aileen</p>