$("tbody#business_locations_list").append("#{ j render 'business_locations/partials/row', business_location: @business_location }");
$("#business_locations_table").dataTable().fnAddTr($("tr.business-location-#{@business_location.id}")[0]);

/ fill in hidden field if organization doesn't exist yet
if ($("#organization_business_location_ids").length > 0) {
old_val = $("#organization_business_location_ids").val();
if (old_val.length > 0) { new_val = old_val + ",#{@business_location.id}"; }
else { new_val = "#{@business_location.id}"; }
$("#organization_business_location_ids").val(new_val);
}
