.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-plus
        Add a Venue
    .box-content
      = render partial: "business_locations/partials/form"
