.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-plus
        Add a Venue
    .box-content
      = simple_form_for @business_location do |f|
        = render partial: 'business_locations/partials/form_fields', locals: { f: f }
