/ logic for organizations page
if ($("#business_locations_table").length > 0) {
$("#business_locations_table").dataTable().fnUpdate(#{ render 'business_locations/partials/datatable_row', business_location: @business_location},$("tr.business-location-#{@business_location.id}")[0]);
}

/ logic for event
if ($("#event_venue_id").length > 0) {
/ find option tag for @business_location and update it
$('#event_venue_id option[value="#{@business_location.id}"]').text("#{ @business_location.select_option_label }");
$("#event_venue_id").change();
}
