.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-pencil
        Content Set ID #{@content_set.id} #{@content_set.name}
    .box-content
      = render partial: "content_sets/partials/form"
