.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Parser ID #{@parser.id} #{@parser.name}
    .box-content
      = render partial: "parsers/partials/form"
