.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Publish Job ID #{@publish_job.id} #{@publish_job.name}
    .box-content
      = render 'publish_jobs/partials/form'
