.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        Create New Report Job
    .box-content
      = render partial: "report_jobs/partials/form"
