// Place all the styles related to the admin/annotation_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#annotation_form {
  position: relative;
  padding: 15px;
  max-height:200px;
  overflow-y:auto;

  .actions { 
    a {
      margin-left: 0;
    }
  }

  border-bottom: 1px solid #eee;

}

.annotation-info {
  font-size: 80%;
  border: 1px solid;
  @include border-radius(5px);

  .annotation-val {
    overflow-wrap: break-word;
  }
}

.t_underline.reviewed {
  border: 2px dotted white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.modal#annotations {
  width: 80%;
  margin-left: -40%;

  .modal-body {
    .title {
      padding-left: 15px;
    }
    .feature {
      display: inline-block;
    }
  }

}

#annotation_reports table {
  .metric {
    text-align: center;
  }
}
