# Add application configuration variables here, as shown below.  
#

development:
  DATABASE_URL: postgres://localhost/subtext_development_db?pool=5&encoding=unicode
test:
  DATABASE_URL: postgres://localhost/subtext_test_db?pool=5&encoding=unicode

AWS_ACCESS_KEY_ID: aws-key
AWS_SECRET_ACCESS_KEY: aws-secret-key
AWS_BUCKET_NAME: knotweed
test:
  AWS_BUCKET_NAME: knotweed-test

# google maps api key for generating business_location maps
GMAPS_API_KEY: gmapskey

# used to determine what location APIv3 uses to query for contents if the user is not
# logged in.

DEFAULT_CONSUMER_HOST: herecast.us

MAILCHIMP_API_HOST: us13.api.mailchimp.com
MAILCHIMP_API_KEY: test

ELASTICSEARCH_URL: http://localhost:9200

OPTIMIZED_IMAGE_URI:      https://qa-consumer.subtext.org/imopt
IMOPT_ALLOWED_SOURCES:  '["d3ctw1a5413a3o.cloudfront.net", "knotweed.s3.amazonaws.com", "subtext-misc.s3.amazonaws.com"]'
BITLY_OAUTH_KEY: 0123456789abcdef

BILL_DOT_COM_API_ENDPOINT: https://app-hotfix.cashview.com/api/v2/
BILL_DOT_COM_API_KEY: 123456789abc
BILL_DOT_COM_ORG_ID: 123456789abc
BILL_DOT_COM_USERNAME: billdotcom@user.com
BILL_DOT_COM_PASSWORD: password
BILL_DOT_COM_COA_ID: 123456789abc

SUBTEXT_AD_SERVICE_KEY: fake-key
SUBTEXT_AD_SERVICE_SECRET: fake-secret
SUBTEXT_AD_SERVICE_HOST: http://localhost:8080/api/v1
