# Add application configuration variables here, as shown below.  
#

AWS_ACCESS_KEY_ID: aws-key
AWS_SECRET_ACCESS_KEY: aws-secret-key
AWS_BUCKET_NAME: knotweed
test:
  AWS_BUCKET_NAME: knotweed-test

# google maps api key for generating business_location maps
GMAPS_API_KEY: gmapskey

# HOST to base url's in app emails off -- e.g. "admin url" in moderate emails
# begins with this.
DEFAULT_HOST: nick-admin.subtextdev.org

# used to determine what location APIv3 uses to query for contents if the user is not
# logged in.
DEFAULT_LOCATION: Hartford

# APIv3 pings the ForecastIO API in order to return a weather response. Configure the API key here.
FORECAST_IO_API_KEY: 32850541d1acd8a1175be1c217db188b

POSTMARK_API_TOKEN: postmark-token

DEFAULT_CONSUMER_HOST: dailyuv.com

MAILCHIMP_API_HOST: us13.api.mailchimp.com
MAILCHIMP_API_KEY: test

SUBSCRIPTIONS_MAILCHIMP_API_HOST:     us11.api.mailchimp.com
SUBSCRIPTIONS_MAILCHIMP_API_KEY:      this-is-not-a-real-key

LISTSERV_MARKETING_URL: http://listserv.dailyUV.com
ELASTICSEARCH_URL: http://localhost:9200

REDIS_URL: redis://subtext-dev.0egmnu.0001.use1.cache.amazonaws.com/1

OPTIMIZED_IMAGE_URI:      'http://dev-web.subtext.org:8880'
OPTIMIZED_IMAGE_QUALITY:  "80"
IMOPT_ALLOWED_SOURCES:  '["d3ctw1a5413a3o.cloudfront.net", "knotweed.s3.amazonaws.com", "subtext-misc.s3.amazonaws.com"]'
BITLY_OAUTH_KEY: 0123456789abcdef

BILL_DOT_COM_API_ENDPOINT: https://app-hotfix.cashview.com/api/v2/
BILL_DOT_COM_API_KEY: 123456789abc
BILL_DOT_COM_ORG_ID: 123456789abc
BILL_DOT_COM_USERNAME: billdotcom@user.com
BILL_DOT_COM_PASSWORD: password
BILL_DOT_COM_COA_ID: 123456789abc
