# Add application configuration variables here, as shown below.
#
# PUSHER_APP_ID: "2954"
# PUSHER_KEY: 7381a978f7dd7f9a1117
# PUSHER_SECRET: abdc3b896a0ffb85d373
# STRIPE_API_KEY: EdAvEPVEC3LuaTg5Q3z6WbDVqZlcBQ8Z
# STRIPE_PUBLIC_KEY: pk_BRgD57O8fHja9HxduJUszhef6jCyS

AWS_ACCESS_KEY_ID: aws-key
AWS_SECRET_ACCESS_KEY: aws-secret-key
AWS_BUCKET_NAME: knotweed
test:
  AWS_BUCKET_NAME: knotweed-test

# HTTP Auth for the Ontotext DSP
# Auth may change with DSP upgrade?
ONTOTEXT_API_USERNAME: KW05055
ONTOTEXT_API_PASSWORD: knotweed05055

# Our "Export GATE XML" functionality depends on an external Java
# application -- this specifies the web endpoint for that app
RDF_TO_GATE_ENDPOINT: http://23.92.16.168:9000

# still using these for rspec test suite so that we can appropriately stub requests
# even though their app functionality has been abstracted to the repository model
#
# TODO: adjust rspec code so that request stubs are generated dynamically
# from repository records so we no longer need these records
SESAME_RDF_ENDPOINT: http://23.92.16.168:8081/openrdf-sesame/repositories/subtext
ONTOTEXT_API_BASE_URI: http://23.92.16.168:8080

#Ontotext recommend key is required for publishing
ONTOTEXT_RECOMMEND_KEY: ontotext-recommend-api-key

# GMail credentials for sending system notifications
NOTIFICATION_EMAIL: kwnotifications@gmail.com
NOTIFICATION_EMAIL_PASSWORD: Vermont53

# Mixpanel API credentials needed for generating dashboard metrics
MIXPANEL_API_KEY: mixpanel-api-key
MIXPANEL_API_SECRET: mixpanel-api-secret

# Mixpanel Token is used for server side tracking of API calls
MIXPANEL_API_TOKEN: mixpanel-api-token

# google maps api key for generating business_location maps
GMAPS_API_KEY: gmapskey

# optional configuration that allows you to specify how many seconds to wait
# before retrying a failed job.
# if not set, uses default delayed_job calculation:
# attempts**4 + 5
RESCHEDULE_AT: 10

# config vars that specify when backup starts and ends for use with
# pausing delayed_jobs and preventing publishing
# if not specified, default is 2:45-3:45AM (server time, which is EST now)
# what is placed here in app.yml is parsed by chronic so a simple
# "2:45 am" will suffice
BACKUP_START: "2:45 am"
BACKUP_END: "3:45 am"

# this is used to determine whether or not to set the "published" flag (content model)
# to true when content is published to a repository. It defaults to 3, which is our
# "production repository" on prod, but can be overridden by specifying it in application.yml
PRODUCTION_REPOSITORY_ID: 3

# hard coding the "region" for extended reach...Upper Valley for the foreseeable future.
# It defaults to 77 if not specified here, which is the current production ID for "Upper Valley"
REGION_LOCATION_ID: 77

# HOST to base url's in app emails off -- e.g. "admin url" in moderate emails
# begins with this.
DEFAULT_HOST: nick-admin.subtextdev.org

# This is a Bad temporary hack to allow filtering the sim stack provided by apiv2
# the same way that the consumer app filters it. 
SIM_STACK_CATEGORIES: market,talk_of_the_town,offered,wanted,for_free,recommendation,event,sale_event,discussion,local_news,business,sports,lifestyle,miscellaneous,beta_talk,lost_and_found 

# used to determine what location APIv3 uses to query for contents if the user is not
# logged in.
DEFAULT_LOCATION: Hartford

# APIv3 pings the ForecastIO API in order to return a weather response. Configure the API key here.
FORECAST_IO_API_KEY: 32850541d1acd8a1175be1c217db188b

POSTMARK_API_TOKEN: postmark-token

PROMO_RELEVANCE_SCORE_THRESHOLD: .10

PRERENDER_TOKEN: prerender-token
