default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

production:
  <<: *default
  url:  <%= ENV["DATABASE_URL"] %>
  pool: <%= ENV["DB_POOL"] || ENV['RAILS_MAX_THREADS'] || 5 %>

development:
  <<: *default
  database: subtext_development_db

test:
  <<: *default
  database: subtext_test_db
