.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-pencil
        Market Post ID #{@market_post.id} - #{@market_post.title}
    .box-content
      = render partial: "market_posts/partials/form"
