.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        Add Market Post
    .box-content
      = render partial: "market_posts/partials/form"
