%div.span12.box.bordered-box.blue-border
  %div.box-header.blue-background
    .title
      %i.icon-pencil
      Listserv ID #{@listserv.id}
  %div.box-content
    = render 'form'
    = link_to 'Back', listservs_path
