$(".report-job-recipient-#{@report_job_recipient.id}").after("#{ j render 'report_job_recipients/partials/row', rjr: @report_job_recipient }");
$(".report-job-recipient-#{@report_job_recipient.id}").first().remove();
