$(".report-recipients-table tbody").append("#{ j render 'report_recipients/partials/row', report_recipient: @report_recipient }");
$(".user-#{@report_recipient.user.id} .recipient-action-link").addClass('disabled');
