%div.span12.box.bordered-box.blue-border
  %div.box-header.blue-background
    .title
      %i.icon-pencil
      Received Email ID #{@received_email.id}
  .box-content
    = render 'form'
    = link_to 'Show', @received_email
    \|
    = link_to 'Back', received_emails_path
