// Place all the styles related to the BusinessLocations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#confirm_location_map {
  width: 240px;
  height: 240px;
  float: right;
}
#embedded_business_location_form {
  background: rgb(205, 205, 205);
  padding: 5px;
}
