// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contents-filter {
  padding-bottom:0;
  .filter-field {
    @include inline-block;

    input {
    }
    input[type="submit"] {
      margin-top: 15px;
    }
  }

}
#documents_table {
  a {
    color: #08C;
  }
}

form#edit_document {
  textarea {
    width: 100%;
  }
}
#contents_index {
  font-size:90%;
}
#event_features {
  .row-fluid .control-group {
    margin-bottom: 0; // decrease vertical padding in event details form
  }

  .venue-links {
    span {
      border-right: 1px solid black;
      &:last-of-type {
        border: none;
      }
      padding: 0 5px 0 5px;

      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
