// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contents_index {
  font-size:90%;
}

.index_content {
  padding-left: 10px;
  color: blue;
}

#crisis-form {
  h3 {
    margin-top: 0px;
  }
  label {
    font-weight: bold;
  }
  textarea, input {
    margin-bottom: 0;
  }
}

