// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contents-filter {
  padding-bottom:0;
  .filter-field {
    @include inline-block;

    input {
    }
    input[type="submit"] {
      margin-top: 15px;
    }
  }

}
#documents_table {
  a {
    color: #08C;
  }
}

form#edit_document {
  textarea {
    width: 100%;
  }
}
