/* fix problem with Chosen selects that are hidden when the page is loaded */
/* Fix 100% width */
.chosen-container, .chosen-drop, .chosen-drop .chosen-search, .chosen-drop .chosen-search input {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tab-pane {
  hr {
    margin-left: 0;
    margin-right: 0;
  }
}

// fix padding for summernote link modal
.note-editor .modal .modal-dialog .form-group {
  margin-left: 0;
  margin-right: 0;
}

// make checkbox fields not clickable across the entire form
label.checkbox {
  display: inline-block;
}
