.checkbox-control {
	margin: 5px !important;
}

.checkbox-label-control {
	display: inline-block;
}

.organization-removal-link {
	cursor: pointer;
}

.user-table-count {
  margin-top: 20px;
  display: inline-block;
}
