-# note: the numbers in this conditional are one higher than expected because
  we're inserting the [0, nil] pair in the controller.
$("#content_business_location_id").html("#{ j options_for_select(@business_locations) }");
