.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        Add Organization
    .box-content
      = render partial: "organizations/partials/form"
