.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        Promotions for #{@organization.name}
    .box-content
      = render "promotions/partials/promotions_tab", organization: @organization
