hr {
  height: 1px;
  background-color: #e6e6e6;
  border: none;
}

img {
  max-width:none!important;
}

.transparent {
  background: transparent;
}

.readit-btn {
  display: inline-block;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  max-width: 100%;
  width: auto;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
}

.bg-grey {
  background: #f3f3f3 ;
}

.DailyUVLogo {
  width: 100px;
  height: 25px;
}
