.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-pencil
        Report ID #{@report.id} #{@report.title}
        = link_to 'Generate Job', report_generations_path(@report),
          class: "btn btn-warning", method: :post
    .box-content
      = render partial: "reports/partials/form"
