.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        Create New Report
    .box-content
      = render partial: "reports/partials/form"
