.row-fluid
  .span12.box.bordered-box.blue-border 
    .box-header.blue-background
      .title
        %i.icon-plus
        Add Data Context
    .box-content
      = render partial: "admin/data_contexts/partials/form"
