.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-pencil
        Edit #{@location.name}
    .box-content
      = render partial: 'locations/form'
