.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-plus
        Add a Location
    .box-content
      = simple_form_for @location do |f|
        = render partial: 'locations/form', locals: { f: f }
