#channels.nav-collapse.collapse
  %ul.nav.option-set{ data: { option_key: "filter" } }
    %li.active
      = link_to "All", "#", data: { option_value: "*" }
    - Channel.all.each do |c|
      %li
        = link_to "#{c.name}", "#", data: { option_value: ".#{c.name.gsub(" ", "_").downcase}" }
