<html>
  <head>
    <%=  stylesheet_link_tag "email/base", :media => "all" %>
  </head>

  <body>
    <table class="body">
      <tr>
        <td class="center">
          <spacer size="32"></spacer>

          <%= yield %>
        </td>
      </tr>
    </table>
  </body>
</html>
